body {
  background-color: black;
}
button {
  margin: 5px;
  color: black;
}
#base {
  width: 40%;
  margin: 20px;
  padding: 40px;
  border-radius: 25%;
  background-color: lightgreen;
  float: left;
}
#results {
  display: none;
  background-color: lightyellow;
  font-size: 3em;
  float: right;
  margin: 20px;
  border: dashed red 8px;
  padding: 40px;
}
#test {
  background-color: rgba(102, 0, 102, 0.8);
  padding: 10px;
  color: white;
  font-size: 1.25em;
}
.container h1 {
  background-color: rgba(51, 153, 102, .5);
  font-family: fantasy;
  text-align: center;
  padding: 5px;
}

#weapon {
  color: black;
  margin: 15px;
}
#color {
  color: black;
  margin: 15px;
}
#rebels {
  color: black;
  margin: 15px;
}
#leap {
  margin: 5px;
  width: 40%;
  background-color: rgba(255, 255, 0, 2.0);
  float: left;
}
#leap-year {
  background-color: rgba(255, 153, 102, .7);
}
